@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
  --backgroundColor: #000000dc;
  --textColor: #ffffffd0;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.text-highlight {
  color: var(--base);
}

body {
  text-align: center;
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: "Freeman", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

a {
  color: var(--base);
  text-decoration: none;
}

input {
  width: 100px;
}
